.entry-grid {
    margin: 30px 30px 12px 120px;
    table-layout: auto;
    border-collapse: collapse;
}

.grid-cell {
    min-width: 48px;
    min-height: 48px;
    width: 48px;
    height: 48px;
    padding: 0;
    text-align: center;
    vertical-align: center;
    font-size: 36px;
    line-height: 1;
    border: solid 2px #555;
    font-weight: 500;
}

.cell-stable3 {
    background: #060;
}

.cell-stable2 {
    background: #066;
}

.cell-unstable {
    background: #006;
}

.cell-overloaded {
    background: #600;
}

.cell-on {
    background: #000;
}

.cell-candidate {
    background: #EFE;
}

.cell-off {
    background: #FFF;
}

.tool-bar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0 30px;
}

.pattern-info {
    width: 300px;
    background: #EEE;
    border: black solid 1px;
    margin: 30px 0;
    padding: 6px;
}

.heading {
    font: bold large sans-serif;
}

.label-value {
    display: flex;
    flex-direction: row;
}

.label {
    font: bold medium sans-serif;
    width: 75%;
}

.value {
    font: medium sans-serif;
    width: 25%;
}